*{
  font-size: large;
  border-color: #007bff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h3{
  color:black
}
label{
  font-weight: 600;
}
.mainBgColor{
  background-color: cadetblue;
}

.innerSurvey{
  align-items: center;
  margin:5% 15% 5% 15%;
  padding:10%;
  background-color: #e9ecef;
  border:1px solid #007bff;

}
.manager{
  padding:5% 5% 5% 5%  
}
.flex{
  display:flex;
  justify-content: flex-start;
}
.grouped{
  width:50%;
  padding-right: 10%;
}
.select{
  width:40%
}
.longText{
  width:40%
}
.centerText{
  text-align: center;
}
.button{
  margin-top: 8%;
  width:50%;
}
.btnText{
  font-size: x-large;
}
.textBox{
  width:auto
}

#mapInsert {
  height:360px;
}
.mapStyles {
  width: 50%;
  height: 50%;
}



@media only screen and (max-width: 800px) {
  *{
    font-size: medium;
  }
  .flex{
    flex-direction: column;
  }
  .grouped{
    width:90%;
  }
  .select{
    width:70%
  }
  .innerSurvey{
    padding:2%;
    margin:2%;
  }
  .manager{
    padding:2% 2% 2% 2%
  }
  .button{
    width:80%
  }
  .textBox{
    border-radius: 0px;
  }
}

@media only screen and (min-width: 1600px) {
  *{
    font-size: x-large;
  }
    #mapInsert {
    height:430px;
  }
}